<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>prototipoWEB</display-name>
  <welcome-file-list>
    <welcome-file>ingresoDatos.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>recibirDatosServlet</display-name>
    <servlet-name>recibirDatosServlet</servlet-name>
    <servlet-class>com.as.samples.recibirDatosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recibirDatosServlet</servlet-name>
    <url-pattern>/recibirDatosServlet</url-pattern>
  </servlet-mapping>
</web-app>